@{
  Layout = "_Layout";
}

<h1>Order Details: </h1>

<hr>

<h2>@Model["order"].Title</h2>
<h3>Vendor: @Model["vendor"].Name</h3>
<p>Description: @Model["order"].Description</p>
<p>Price: @Model["order"].Price</p>
<p>Date: @Model["order"].Date</p>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>
